{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<h1 class="title">
    KU-POLLS
</h1>

{% if latest_question_list %}
    <ul class="polls list">
    {% for question in latest_question_list %}
        <li class="poll-item"><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/polls/{{ question.id }}/results/"> result </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}